<mat-card>
    <mat-card-header>
        <mat-card-title>{{ hero.superhero }}</mat-card-title>
        <mat-card-subtitle class="mb-10">{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <div class="cover" [ngStyle]="
        {
            'background-image': 'url(' + (hero | heroImage) + ')',
        }" alt="hero.superhero">
    </div>
    <mat-card-content>
        <p class="first-appearance mt-10">First appearance: <br> {{ hero.first_appearance }}</p>
        <mat-chip-listbox>
            <mat-chip>{{ hero.publisher }}</mat-chip>
        </mat-chip-listbox>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-raised color="primary" [routerLink]="['/heroes/edit-hero', hero.id ]">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button mat-button mat-raised [routerLink]="['/heroes', hero.id]">
            <mat-icon>more_horizontal</mat-icon>
            See more
        </button>
    </mat-card-actions>
</mat-card>